@inject NavigationManager navigate

<div class="bg-header-friwo text-white" style="padding:25px 140px">
    <div class="d-flex justify-content-end align-content-center gap-5 ">
        <small class="text-footer-friwo">NEWS</small>
        <small class="text-footer-friwo">BLOG</small>
        <small class="text-footer-friwo">PRESS</small>
        <small class="text-footer-friwo">INVESTOR RELATIONS</small>
        <small class="text-footer-friwo">SHOP</small>
    </div>
    <div class="  d-flex justify-content-between align-items-center">
        <h1 class="logo-text-friwo d-flex justify-content-between align-content-center">FRIWO</h1>
        <div class="d-flex align-items-center  gap-5">
            <div class="d-flex align-items-center gap-2">
                COMPANY
            </div>
            <div class="d-flex align-items-center gap-2">
                PRODUCTS & SERVICES
            </div>
            <div class="d-flex align-items-center gap-2">
                SECTORS
            </div>
            <div class="d-flex align-items-center gap-2">
                SECTORS
            </div>
            <div class="d-flex align-items-center gap-2">
                CAREER

            </div>
            <div class="d-flex align-items-center gap-2">
                CONTACT & SUPPORT
            </div>
            <div class="d-flex align-items-center gap-2" onclick="@(()=>{NavigateTo("/login");})">
                <span>LOGIN</span>

                <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="9" r="3" stroke="#ffffff" stroke-width="1.5"></circle> <circle cx="12" cy="12" r="10" stroke="#ffffff" stroke-width="1.5"></circle> <path d="M17.9691 20C17.81 17.1085 16.9247 15 11.9999 15C7.07521 15 6.18991 17.1085 6.03076 20" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"></path> </g></svg>
            </div>
        </div>
    </div>
</div>

@code {
    public void NavigateTo(string path)
    {
        navigate.NavigateTo(path);
    }
}
